<!-- <div
  class="flex gap-5 justify-between px-6 py-4 w-full bg-white shadow-sm max-md:flex-wrap max-md:pr-5 max-md:max-w-full"
  >
  <div
  class="flex gap-3 justify-between text-2xl font-extrabold leading-8 text-black whitespace-nowrap"
  >
  <img
  loading="lazy"
  src="https://cdn.builder.io/api/v1/image/assets/TEMP/d87bab0ea7afb32ea90809348695d96794fb560df702a04e4cf35a718080faad?"
  class="aspect-[1.08] w-[41px]"
  />
  <div class="grow my-auto">Modernize</div>
  </div>
  <div
  class="flex gap-2 my-auto text-sm leading-5 text-gray-500 whitespace-nowrap"
  >
  <img
  loading="lazy"
  src="https://cdn.builder.io/api/v1/image/assets/TEMP/d4fd9f4e8b9c9802bf8c1282497ca7e4e94436b3ebcfa5ec7b9ec38725f5ca8c?"
  class="w-6 aspect-square"
  />
  <div class="grow my-auto">Search...</div>
  </div>
  <div class="flex gap-5 my-auto">
  <img
  loading="lazy"
  src="https://cdn.builder.io/api/v1/image/assets/TEMP/08d28ebd696374b6878253a42fd912504d9effa3dd4259357925d32a403eeb72?"
  class="self-start mt-1 w-6 aspect-square"
  />
  <img
  loading="lazy"
  src="https://cdn.builder.io/api/v1/image/assets/TEMP/6f288ffe33765d8f2ef2ceaddf29a837358f5a660792ebf84fd7c11815584ecb?"
  class="w-7 aspect-square"
  />
  </div>
  <div
  class="flex gap-3 justify-between self-start text-sm leading-5 text-gray-500"
  >
  <img
  loading="lazy"
  srcset="..."
  class="w-9 aspect-square"
  />
  <div class="self-start mt-5">X’eriya Ponald</div>
  <img
  loading="lazy"
  src="https://cdn.builder.io/api/v1/image/assets/TEMP/6fc2c15674163c75e737e57dbb39fc5e76c5bb44a9116bab3844e3eeca845c91?"
  class="my-auto w-6 aspect-square"
  />
  </div>
  </div> -->
  <div
        class="flex gap-5 justify-between px-6 py-3 w-full bg-white shadow-sm max-md:flex-wrap max-md:pr-5 max-md:max-w-full"
      >
        <div
        class="flex gap-3 justify-between text-2xl font-extrabold leading-8 text-black
        whitespace-nowrap items-center"
        >
          <img
            loading="lazy"
            src="https://cdn.builder.io/api/v1/image/assets/TEMP/d87bab0ea7afb32ea90809348695d96794fb560df702a04e4cf35a718080faad?"
            class="aspect-[1.08] w-[41px]"
          />
          <div class="grow">Modernize</div>
        </div>
        <div class="flex flex-1 ml-5 mr-3 justify-between">
          <div
          class="flex flex-1 gap-2 my-auto text-sm leading-5 text-gray-500 whitespace-nowrap
          relative mr-5"
          >
            <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
              <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
              </svg>
          </div>
            <input class="block w-full px-4 py-2 ps-10 text-sm
            focus:border-transparent
            focus:ring-transparent" placeholder="Search..." >

          </div>
          <div class="flex gap-5 my-auto">
            <img
              loading="lazy"
              src="https://cdn.builder.io/api/v1/image/assets/TEMP/08d28ebd696374b6878253a42fd912504d9effa3dd4259357925d32a403eeb72?"
              class="self-start mt-1 w-6 aspect-square"
            />
            <img
              loading="lazy"
              src="https://cdn.builder.io/api/v1/image/assets/TEMP/6f288ffe33765d8f2ef2ceaddf29a837358f5a660792ebf84fd7c11815584ecb?"
              class="w-7 aspect-square"
            />
          </div>
        </div>
        <div
          class="flex gap-3 justify-between items-center text-sm leading-5 text-gray-500"
        >
          <img loading="lazy" src="https://ui-avatars.com/api/?name=Xavier+Ponald"
          class="w-9 h-9 rounded-full aspect-square" />
          <p>X'eriya Ponald</p>
          <img
            loading="lazy"
            src="https://cdn.builder.io/api/v1/image/assets/TEMP/6fc2c15674163c75e737e57dbb39fc5e76c5bb44a9116bab3844e3eeca845c91?"
            class="my-auto w-6 aspect-square"
          />
        </div>
      </div>