<!-- <div
  class="flex flex-col grow px-7 py-8 w-full text-sm leading-5 text-gray-900 whitespace-nowrap bg-white rounded-md shadow-sm max-md:px-5 max-md:mt-8"> -->
<!-- <div class="flex gap-5 justify-between px-4 py-2.5 w-full whitespace-nowrap rounded bg-slate-100">
  <div class="flex gap-4 justify-between text-sm leading-5 text-gray-500">
    <img loading="lazy" src="{{ $ctrl.data.imageSrc }}" class="self-center max-w-full aspect-square w-[140px]" />
    <div class="mt-9 text-xl font-bold leading-7">
      {{ $ctrl.data.header }}
    </div>
    <div class="mt-5" ng-repeat="item in $ctrl.data.content">
      {{ item }}
    </div>
    <div class="mt-7 text-blue-600">More Tutorials</div>
  </div>
</div> -->

<!-- <div
  class="flex flex-col grow py-8 pr-14 pl-7 w-full text-sm leading-5 text-gray-900 whitespace-nowrap bg-white rounded-md shadow-sm max-md:px-5 max-md:mt-8"> -->
  <img loading="lazy"
    src="{{ $ctrl.data.imageSrc }}" 
    class="self-end max-w-full aspect-square w-[140px]" />
  <div class="mt-9 text-xl font-bold leading-7">
    {{ $ctrl.data.header }}
  </div>
  <div class="mt-5" ng-repeat="item in $ctrl.data.content">
    {{ item }}
  </div>
  <div class="mt-7 text-blue-600">More Tutorials</div>
<!-- </div> -->